#board {
	width: 700px;
	height: 700px;
	display: flex;
	flex-direction: column;
	margin: 30px auto;
	margin-top: 15px;
}

.row {
	display: flex;
	width: 100%;
	border-left: 2px solid black;
	border-right: 2px solid black;
	min-height: calc(700px / 9);
}

.cell {
	border: 1px solid black;
	width: calc(700px / 9);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 24px;
	font-weight: 600;
	transition: 200ms;
	height: 100%;
}

@keyframes start {
	from {
		transform: scale(0);
	}
	to {
		transform: scale(1);
	}
}

.cell:hover {
	transition: 200ms;
	cursor: pointer;
	color: #72b01d;
	font-size: 32px;
	background-color: #73b01d54;
}

#solve-button {
	background-color: #1db09a;
	color: #f3eff5;
	-webkit-box-shadow: 4px 6px 4px 0px #379688;
	box-shadow: 3px 5px 2px 0px #379688;
	transition: 500ms;
	width: 15%;
}

#solve-button:hover {
	transform: scale(1.1);
	transition: 500ms;
}

.helper-button {
	font-size: 14px;
	font-weight: 550;
	padding: 5px 8px;
}

#clear-button {
	background-color: #f3eff5;
	margin-top: 20px;
	color: #454955;
	border: 1px solid #454955;
	box-shadow: 1px 2px 4px 0px #0d0a0b;
	transition: 500ms;
}

#clear-button:hover {
	background-color: #454955;
	color: #f3eff5;
	cursor: pointer;
	transition: 500ms;
}

.current {
	background-color: #1db09a2f;
	color: #1db09a;
	animation-name: start;
	animation-iteration-count: 1;
	animation-duration: 250ms;
	animation-timing-function: ease-in-out;
}

.checked {
	color: #72b01d;
	background-color: #73b01d54;
	animation-name: start;
	animation-iteration-count: 1;
	animation-duration: 250ms;
	animation-timing-function: ease-in-out;
}
